In [6]:

pip install pandas

Requirement already satisfied: pandas in c:\users\abhil\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\abhil\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abhil\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abhil\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abhil\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\abhil\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame([1,2,3])
df

   0
0  1
1  2
2  3

In [8]:
df = pd.DataFrame({'Rolno':[1,2,3,4,5], 'Maths':[12,13,12,14,10]})
df

   Rolno  Maths
0      1     12
1      2     13
2      3     12
3      4     14
4      5     10

In [12]:
l = np.random.randint(1,10,20)

df = pd.Series(l)
df[0:5]

0    3
1    2
2    5
3    5
4    6
dtype: int32

READING CSV FILES

In [5]:
df = pd.read_csv(r'C:\Users\abhil\OneDrive\Desktop\jupyter\PANDAS\practicedataset.csv')
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1.0,0,2,19.833723,7.0,1,2.0,0.0,0,1.0,0,2.929196,2.0
1,1002,18,0.0,0,1,15.408756,0.0,0,1.0,0.0,0,0.0,0,3.042915,1.0
2,1003,15,0.0,2,3,4.210570,26.0,0,2.0,0.0,0,0.0,0,0.112602,4.0
3,1004,17,1.0,0,3,10.028829,14.0,0,3.0,1.0,0,0.0,0,2.054218,3.0
4,1005,17,1.0,0,2,4.672495,17.0,1,3.0,0.0,0,0.0,0,1.288061,4.0

In [4]:

df.describe()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In [6]:
df.isnull()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2388,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2389,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2390,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2391,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

StudentID            0
Age                  0
Gender               2
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      2
Absences             2
Tutoring             0
ParentalSupport      1
Extracurricular      4
Sports               0
Music                1
Volunteering         0
GPA                  1
GradeClass           2
dtype: int64

In [8]:
df.isnull().sum().sum()

np.int64(15)

DROPPING ROWS

In [27]:
df = pd.read_csv(r'C:\Users\abhil\OneDrive\Desktop\jupyter\PANDAS\practicedataset3.csv')
df.isnull().sum()

# # dropping all rows having null values
df.dropna(axis=1)

,Transaction ID,Date,Product Category,Product Name,Total Revenue
0,10001,01-01-2024,Electronics,iPhone 14 Pro,1999.98
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,499.99
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,209.97
3,10004,04-01-2024,Books,The Da Vinci Code,63.96
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,89.99
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,149.95
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,2499.99
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,1199.98
8,10009,09-01-2024,Clothing,Nike Air Force 1,539.94
9,10010,10-01-2024,Books,Dune by Frank Herbert,51.98
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,129.99
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,599.97
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,1499.98
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,189.99
14,10015,15-01-2024,Clothing,North Face Down Jacket,499.98
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",107.97
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,399.99
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,479.96
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,999.98
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,99.99
20,10021,21-01-2024,Clothing,Zara Summer Dress,179.97
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,45.98
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,49.99
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,89.97
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,299.99
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,179.99
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,359.98
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,38.97
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,29.99

In [28]:
df.fillna(0,axis=1)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,0
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,0,PayPal
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,0
8,10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,0,PayPal
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,0,599.97,Asia,Credit Card
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,0,0
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,0,499.99,999.98,North America,Credit Card
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
20,10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,0
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,0
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,0

In [29]:
df.fillna({'Region':'Europe', 'Payment Method': 'PayPal'})

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,PayPal
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Europe,PayPal
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,PayPal
8,10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Europe,PayPal
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,NaN,599.97,Asia,Credit Card
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Europe,PayPal
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,NaN,499.99,999.98,North America,Credit Card
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
20,10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,PayPal
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,PayPal
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,PayPal

In [30]:
df.fillna(method='ffill')

C:\Users\abhil\AppData\Local\Temp\ipykernel_4632\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,Credit Card
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,North America,PayPal
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,Credit Card
8,10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,North America,PayPal
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,129.99,599.97,Asia,Credit Card
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,North America,Credit Card
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,4.0,499.99,999.98,North America,Credit Card
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
20,10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,Credit Card
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,Credit Card
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,Credit Card

In [31]:
df.fillna(method='bfill')

C:\Users\abhil\AppData\Local\Temp\ipykernel_4632\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,Debit Card
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Asia,PayPal
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,Debit Card
8,10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Asia,PayPal
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,749.99,599.97,Asia,Credit Card
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Asia,Credit Card
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,1.0,499.99,999.98,North America,Credit Card
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
20,10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,Credit Card
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,Debit Card
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,NaN

In [32]:
df.fillna(method='bfill', inplace=True)

C:\Users\abhil\AppData\Local\Temp\ipykernel_4632\3314729575.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)

In [33]:
df

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,Debit Card
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Asia,PayPal
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,Debit Card
8,10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Asia,PayPal
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,749.99,599.97,Asia,Credit Card
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Asia,Credit Card
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,1.0,499.99,999.98,North America,Credit Card
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
20,10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,Credit Card
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,Debit Card
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,NaN

In [34]:
df.fillna({'Payment Method':'PayPal'})

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,Debit Card
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Asia,PayPal
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,Debit Card
8,10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Asia,PayPal
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,749.99,599.97,Asia,Credit Card
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Asia,Credit Card
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,1.0,499.99,999.98,North America,Credit Card
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
20,10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,Credit Card
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,Debit Card
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,PayPal

In [35]:
df.fillna({'Payment Method': 'PayPal'}, inplace=True)

In [36]:
df

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,Debit Card
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Asia,PayPal
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,Debit Card
8,10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Asia,PayPal
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,749.99,599.97,Asia,Credit Card
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Asia,Credit Card
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,1.0,499.99,999.98,North America,Credit Card
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
20,10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,Credit Card
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,Debit Card
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,PayPal

In [39]:
df.replace(to_replace='PayPal', value='P')

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,Debit Card
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Asia,P
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,Debit Card
8,10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Asia,P
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,749.99,599.97,Asia,Credit Card
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,P
14,10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Asia,Credit Card
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,1.0,499.99,999.98,North America,Credit Card
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,P
20,10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,Credit Card
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,Debit Card
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,P

In [45]:
df.replace('[A-za-z]',0,regex=True)

C:\Users\abhil\AppData\Local\Temp\ipykernel_4632\997408235.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace('[A-za-z]',0,regex=True)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,0,0,2.0,999.99,1999.98,0,0
1,10002,02-01-2024,0,0,1.0,499.99,499.99,0,0
2,10003,03-01-2024,0,0,3.0,69.99,209.97,0,0
3,10004,04-01-2024,0,0,4.0,15.99,63.96,0,0
4,10005,05-01-2024,0,0,1.0,89.99,89.99,0,0
5,10006,06-01-2024,0,0,5.0,29.99,149.95,0,0
6,10007,07-01-2024,0,0,1.0,2499.99,2499.99,0,0
7,10008,08-01-2024,0,0,2.0,599.99,1199.98,0,0
8,10009,09-01-2024,0,0,6.0,89.99,539.94,0,0
9,10010,10-01-2024,0,0,2.0,25.99,51.98,0,0
10,10011,11-01-2024,0,0,1.0,129.99,129.99,0,0
11,10012,12-01-2024,0,0,3.0,749.99,599.97,0,0
12,10013,13-01-2024,0,0,2.0,749.99,1499.98,0,0
13,10014,14-01-2024,0,0,1.0,189.99,189.99,0,0
14,10015,15-01-2024,0,0,2.0,249.99,499.98,0,0
15,10016,16-01-2024,0,0,3.0,35.99,107.97,0,0
16,10017,17-01-2024,0,0,1.0,399.99,399.99,0,0
17,10018,18-01-2024,0,0,4.0,119.99,479.96,0,0
18,10019,19-01-2024,0,0,1.0,499.99,999.98,0,0
19,10020,20-01-2024,0,0,1.0,99.99,99.99,0,0
20,10021,21-01-2024,0,0,3.0,59.99,179.97,0,0
21,10022,22-01-2024,0,0,2.0,22.99,45.98,0,0
22,10023,23-01-2024,0,0,1.0,49.99,49.99,0,0
23,10024,24-01-2024,0,0,3.0,29.99,89.97,0,0
24,10025,25-01-2024,0,0,1.0,299.99,299.99,0,0
25,10026,26-01-2024,0,0,1.0,179.99,179.99,0,0
26,10027,27-01-2024,0,0,2.0,179.99,359.98,0,0
27,10028,28-01-2024,0,0,3.0,12.99,38.97,0,0
28,10029,29-01-2024,0,0,1.0,29.99,29.99,0,0

In [48]:
df.replace(to_replace='PayPal', method='ffill')

C:\Users\abhil\AppData\Local\Temp\ipykernel_4632\2090580319.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace(to_replace='PayPal', method='ffill')

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
1,10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,Debit Card
2,10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Asia,Credit Card
5,10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
7,10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,Debit Card
8,10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Asia,Credit Card
11,10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,749.99,599.97,Asia,Credit Card
12,10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,Credit Card
14,10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Asia,Credit Card
17,10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
18,10019,19-01-2024,Electronics,Garmin Forerunner 945,1.0,499.99,999.98,North America,Credit Card
19,10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,Credit Card
20,10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
21,10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
22,10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,Credit Card
23,10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
24,10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
25,10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,Debit Card
26,10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
27,10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
28,10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,Credit Card

In [51]:
df = pd.read_csv(r'C:\Users\abhil\OneDrive\Desktop\jupyter\PANDAS\practicedataset3.csv', index_col='Transaction ID')
df

,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
Transaction ID,,,,,,,,
10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,NaN
10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,NaN,PayPal
10006,06-01-2024,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
10007,07-01-2024,Electronics,MacBook Pro 16-inch,1.0,2499.99,2499.99,North America,Credit Card
10008,08-01-2024,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,NaN
10009,09-01-2024,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
10010,10-01-2024,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10011,11-01-2024,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,NaN,PayPal
10012,12-01-2024,Sports,Babolat Pure Drive Tennis Racket,3.0,NaN,599.97,Asia,Credit Card
10013,13-01-2024,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
10014,14-01-2024,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
10015,15-01-2024,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
10016,16-01-2024,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
10017,17-01-2024,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,NaN,NaN
10018,18-01-2024,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
10019,19-01-2024,Electronics,Garmin Forerunner 945,NaN,499.99,999.98,North America,Credit Card
10020,20-01-2024,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
10021,21-01-2024,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
10022,22-01-2024,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
10023,23-01-2024,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,NaN
10024,24-01-2024,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
10025,25-01-2024,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
10026,26-01-2024,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,NaN
10027,27-01-2024,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
10028,28-01-2024,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
10029,29-01-2024,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,NaN

In [53]:
df.loc[10000:10005]

,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
Transaction ID,,,,,,,,
10001,01-01-2024,Electronics,iPhone 14 Pro,2.0,999.99,1999.98,North America,Credit Card
10002,02-01-2024,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,NaN
10003,03-01-2024,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
10004,04-01-2024,Books,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
10005,05-01-2024,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,NaN,PayPal

In [54]:
df.loc[10000:10005, 'Region']

Transaction ID
10001    North America
10002           Europe
10003             Asia
10004    North America
10005              NaN
Name: Region, dtype: object

In [56]:
df.loc[df['Units Sold']>2, ['Product Category', 'Product Name']]

               Product Category                           Product Name
Transaction ID
10003                  Clothing                       Levi's 501 Jeans
10004                     Books                      The Da Vinci Code
10006                    Sports            Wilson Evolution Basketball
10009                  Clothing                       Nike Air Force 1
10012                    Sports       Babolat Pure Drive Tennis Racket
10016                     Books  Salt, Fat, Acid, Heat by Samin Nosrat
10018                    Sports                   Manduka PRO Yoga Mat
10021                  Clothing                      Zara Summer Dress
10024                    Sports         Adidas FIFA World Cup Football
10028                     Books     Pride and Prejudice by Jane Austen

In [60]:
df.iloc[1:5,1:3]

               Product Category             Product Name
Transaction ID
10002           Home Appliances         Dyson V11 Vacuum
10003                  Clothing         Levi's 501 Jeans
10004                     Books        The Da Vinci Code
10005           Beauty Products  Neutrogena Skincare Set

In [67]:
group =df.groupby(by=['Region','Payment Method'])

for group,data_frame in group:
    print(group)
    print(data_frame)

('Asia', 'Credit Card')
                      Date Product Category                      Product Name  \
Transaction ID
10006           06-01-2024           Sports       Wilson Evolution Basketball
10012           12-01-2024           Sports  Babolat Pure Drive Tennis Racket
10018           18-01-2024           Sports              Manduka PRO Yoga Mat
10024           24-01-2024           Sports    Adidas FIFA World Cup Football

                Units Sold  Unit Price  Total Revenue Region Payment Method
Transaction ID
10006                  5.0       29.99         149.95   Asia    Credit Card
10012                  3.0         NaN         599.97   Asia    Credit Card
10018                  4.0      119.99         479.96   Asia    Credit Card
10024                  3.0       29.99          89.97   Asia    Credit Card
('Asia', 'Debit Card')
                      Date Product Category             Product Name  \
Transaction ID
10003           03-01-2024         Clothing         Levi's 501 Jeans
10009           09-01-2024         Clothing         Nike Air Force 1
10015           15-01-2024         Clothing   North Face Down Jacket
10021           21-01-2024         Clothing        Zara Summer Dress
10027           27-01-2024         Clothing  Adidas Ultraboost Shoes

                Units Sold  Unit Price  Total Revenue Region Payment Method
Transaction ID
10003                  3.0       69.99         209.97   Asia     Debit Card
10009                  6.0       89.99         539.94   Asia     Debit Card
10015                  2.0      249.99         499.98   Asia     Debit Card
10021                  3.0       59.99         179.97   Asia     Debit Card
10027                  2.0      179.99         359.98   Asia     Debit Card
('Europe', 'PayPal')
                      Date Product Category                 Product Name  \
Transaction ID
10014           14-01-2024  Home Appliances  Keurig K-Elite Coffee Maker
10020           20-01-2024  Home Appliances   Ninja Professional Blender

                Units Sold  Unit Price  Total Revenue  Region Payment Method
Transaction ID
10014                  1.0      189.99         189.99  Europe         PayPal
10020                  1.0       99.99          99.99  Europe         PayPal
('North America', 'Credit Card')
                      Date Product Category  \
Transaction ID
10001           01-01-2024      Electronics
10004           04-01-2024            Books
10007           07-01-2024      Electronics
10010           10-01-2024            Books
10013           13-01-2024      Electronics
10016           16-01-2024            Books
10019           19-01-2024      Electronics
10022           22-01-2024            Books
10025           25-01-2024      Electronics
10028           28-01-2024            Books

                                         Product Name  Units Sold  Unit Price  \
Transaction ID
10001                                   iPhone 14 Pro         2.0      999.99
10004                               The Da Vinci Code         4.0       15.99
10007                             MacBook Pro 16-inch         1.0     2499.99
10010                           Dune by Frank Herbert         2.0       25.99
10013                           Samsung Galaxy Tab S8         2.0      749.99
10016           Salt, Fat, Acid, Heat by Samin Nosrat         3.0       35.99
10019                           Garmin Forerunner 945         NaN      499.99
10022                      Gone Girl by Gillian Flynn         2.0       22.99
10025                 Bose QuietComfort 35 Headphones         1.0      299.99
10028              Pride and Prejudice by Jane Austen         3.0       12.99

                Total Revenue         Region Payment Method
Transaction ID
10001                 1999.98  North America    Credit Card
10004                   63.96  North America    Credit Card
10007                 2499.99  North America    Credit Card
10010                   51.98  North America    Credit Card
10013                 1499.98  North America    Credit Card
10016                  107.97  North America    Credit Card
10019                  999.98  North America    Credit Card
10022                   45.98  North America    Credit Card
10025                  299.99  North America    Credit Card
10028                   38.97  North America    Credit Card

In [72]:
df1 = pd.DataFrame({'roll':[1,2,3,4], 'maths':[10,12,13,14], 'physics':[13,12,12,13]})
df2 = pd.DataFrame({'roll':[1,2,5,6], 'maths':[10,11,14,10], 'chemistry':[13,10,11,13]})

In [74]:
pd.merge(df1,df2) #merging done on common elements from common columns

   roll  maths  physics  chemistry
0     1     10       13         13

In [75]:
pd.merge(df1,df2,how='left')

   roll  maths  physics  chemistry
0     1     10       13       13.0
1     2     12       12        NaN
2     3     13       12        NaN
3     4     14       13        NaN

In [76]:
pd.merge(df1,df2,how='right')

   roll  maths  physics  chemistry
0     1     10     13.0         13
1     2     11      NaN         10
2     5     14      NaN         11
3     6     10      NaN         13

In [79]:
pd.merge(df1,df2,how='outer')

   roll  maths  physics  chemistry
0     1     10     13.0       13.0
1     2     11      NaN       10.0
2     2     12     12.0        NaN
3     3     13     12.0        NaN
4     4     14     13.0        NaN
5     5     14      NaN       11.0
6     6     10      NaN       13.0

In [84]:
df1 = pd.DataFrame({'roll':[1,2,3,4], 'maths':[10,12,13,14], 'physics':[13,12,12,13]})
df2 = pd.DataFrame({'roll':[1,2,5,6], 'maths':[10,11,14,10], 'chemistry':[13,10,11,13]})

pd.concat([df1,df2], ignore_index=True, sort=True)

   chemistry  maths  physics  roll
0        NaN     10     13.0     1
1        NaN     12     12.0     2
2        NaN     13     12.0     3
3        NaN     14     13.0     4
4       13.0     10      NaN     1
5       10.0     11      NaN     2
6       11.0     14      NaN     5
7       13.0     10      NaN     6

In [101]:
df1 = pd.DataFrame({'roll':[1,1,2,2,3], 'maths':[10,12,13,14,11], 'physics':[13,12,12,13,10], 'chemistry':[10,22,13,14,15]})
pd.pivot_table(df1, index='roll')

      chemistry  maths  physics
roll
1          16.0   11.0     12.5
2          13.5   13.5     12.5
3          15.0   11.0     10.0

In [102]:
pd.pivot_table(df1, index='roll', aggfunc='sum', columns='maths')

      chemistry                         physics
maths        10    11    12    13    14      10    11    12    13    14
roll
1          10.0   NaN  22.0   NaN   NaN    13.0   NaN  12.0   NaN   NaN
2           NaN   NaN   NaN  13.0  14.0     NaN   NaN   NaN  12.0  13.0
3           NaN  15.0   NaN   NaN   NaN     NaN  10.0   NaN   NaN   NaN